<h3>Update Yo Food!</h3>

<form action="/foods/<%=@food.id%>" method="post">
	<input type="hidden" name="_method" value="put">
	<label>Name: </label>
	<input type="text" name="food[name]" value="<%=@food.name%>"></br>
	<label>Description: </label>
	<input type="text" name="food[description]" value="<%=@food.description%>"></br>
	<label>Thoughts: </label>
	<input type="text" name="food[thoughts]" value="<%=@food.thoughts%>"></br>
	<label>Imgage Link: </label>
	<input type="text" name="food[img_url]" value="<%=@food.img_url%>"></br>


	<input type="submit" value="Submit">
</form>

<p><%= link_to "Back", foods_path%></p>